.os-single-product {
    text-align: center;

    .item-btn {
        background: #08c;
        padding: 8px 20px;
        display: inline-block;
        margin: 20px 0 0;
        color: #fff;
        text-decoration: none;
    }
}