.latmmo-table-products {
    > h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .latmmo-end-table {
        font-style: italic;
        font-style: 13px;
        margin-bottom: 30px;
        color: #666;
    }

    .item-product {
        margin-bottom: 1.5rem;
        border: 1px solid #7987a163;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

        .item-top {
            display: flex;
            border-bottom: 1px solid #7987a163;
        }

        .item-image {
            width: 180px;
            position: relative;
        }

        .item-content {
            padding: 20px;

            ul {
                margin: 0;
                padding: 0;
                list-style: desc;
                max-height: 110px;
                overflow: hidden;

                li {
                    display: list-item;
                    list-style: disc outside none;
                    margin-left: 15px;
                }
            }
        }

        .item-bottom {
            padding: 20px;
            width: calc(100% - 180px);
        }

        .item-s-title {
            font-size: 16px;
            font-weight: 600;
        }

        .item-bottom-wrap {
            display: flex;
            margin-top: 10px;
        }

        .item-bottom-left {
            width: calc(100% - 200px);
            padding-right: 20px;
        }

        .item-bottom-right {
            width: 200px;
        }

        .item-title {
            h3 {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 18px;
            }
        }

        .item-info {
            .item-brand {
                label {
                    display: block;
                    color: #808080;
                }

                span {
                    font-weight: bold;
                }
            }
        }

        .item-score {
            label {
                display: block;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 0;
                line-height: 28px;
                position: relative;
            }

            .item-rating {
                font-weight: bold;
                color: #000;
                font-size: 30px;
                margin-right: 8px;
            }

            .item-score-txt {
                line-height: 15px;
                font-size: 13px;
                color: gray;
                font-weight: 600;
            }

            .h {
                display: inline-block;
                margin-left: 10px;
                cursor: pointer;

                svg {
                    width: 14px;
                    fill: #eee;
                    color: #999;
                    padding-top: 10px;
                }

                .hp {
                    display: none;
                    position: absolute;
                    top: 30px;
                    right: 0;
                    width: 180px;
                    background: #fff;
                    border: 1px solid #ccc;
                    padding: 0 15px;
                    border-radius: 3px;
                    text-align: justify;
                    z-index: 999;
                    color: #666;
                    font-size: 13px;
                    line-height: 21px;

                    &.active {
                        display: block;
                    }
                }
            }
        }

        .item-link {
            a {
                color: #fff;
                background-color: #c82333;
                border-color: #bd2130;
                padding: 5px 18px;
                border-radius: 5px;
                display: inline-block;
                margin-top: 20px;
            }
        }

        .item-badge {
            .n {
                background: #fbd896;
                font-size: 18px;
                width: 48px;
                text-align: center;
                top: 20px;
                left: -9px;
                color: #000;
                position: absolute;
                z-index: 10;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -6px;
                    left: 0;
                    border-bottom: 7px solid #b4bdce;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    transform: rotate(45deg);
                }
            }

            .t {
                position: absolute;
                background: #c82333;
                top: 20px;
                left: 0;
                padding: 0 12px;
                padding-left: 56px;
                color: #fff;
                text-transform: uppercase;
                z-index: 9;
                font-size: 13px;
            }

        }

        .item-prime {
            margin-top: 10px;

            .prime-logo {
                &:before {
                    content: '✔';
                    color: #f7a325;
                    z-index: 99;
                }

                font-weight: 700;
                font-style: italic;
                color: #4ea3c2;
            }
        }
    }
}

@media (max-width: 768px) {
    .latmmo-table-products {
        .item-product {
            .item-top {
                display: block;
            }

            .item-bottom {
                width: 100%;
            }

            .item-bottom-wrap {
                display: block;
            }

            .item-bottom-left {
                width: 100%;
                padding: 0;
            }

            .item-content {
                width: 100%;
            }
        }
    }
}